@model project3.Models.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameCat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameCat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Characteristic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Characteristic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category2.NameCat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category2.NameCat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cat_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
