@model IEnumerable<project3.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameCat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Characteristic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category2.NameCat)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameCat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Characteristic)
        </td>
        <td>
            @if(Model!=null && item.Image != null && item.Image.Length > 0)
                {
                    <img src="data:image; base64, @System.Convert.ToBase64String(item.Image)" width="80" height="80"/>
                }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category2.NameCat)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cat_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.cat_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cat_ID })
        </td>
    </tr>
}

</table>
